* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 5rem;
  margin: 8rem 0 2rem 0;
  position: relative;

  z-index: -1;
}
.about .about_header {
  width: 65%;
  padding: 2rem;
  text-align: start;
  margin: 1rem 0 1rem 0;
}

.about_h1 {
  font-size: 2.5rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
section {
  display: flex;
  gap: 10%;
  height: 80vh;
}
.left_side {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.left_side h1 {
  margin-top: 1rem;
  font-size: 30rem;
  transition: 0.3s ease-in-out;
}
.left_side h1:hover {
  color: orangered;
}
.right_side {
  gap: 2rem;
  padding: 5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.right_side a {
  color: white;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.right_h3 {
  font-size: 1.8rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.text_about {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
@media only screen and (max-width: 700px) {
  .about {
    top: 2rem;
    margin: 0;
    padding: 2rem;
  }
  .left_side {
    display: none;
  }
  .right_side {
    width: 100%;
    padding: 0;
  }
  .left_side {
    width: 100%;
    padding: 0;
  }
  .about .about_header {
    width: 100%;
    height: 0;
    padding: 0;
    position: relative;
    top: -7rem;
  }
  .about .about_header h1 {
    font-size: 1.5rem;
  }
  .right_side h3 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 425px) {
  .about {
    padding: 2rem;
    top: 1.8rem;
  }
  .rhs-2 {
    margin-top: 2rem;
  }

  .about .about_header {
    width: 100%;
    height: 0;
    padding: 20px;
    position: relative;
    top: -8rem;
  }
}
@media only screen and (max-width: 1000px) {
  .about {
    padding: 2rem;
  }
}
