* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about {
  width: 100vw;
  height: 120vh;
  background-color: black;
  padding: 2rem;
  margin: 8rem 0 2rem 0;
  position: relative;
  display: block;
  z-index: -1;
}
.about .about_header {
  width: 65%;
  padding: 2rem;
  text-align: start;
  /* position: relative; */
  margin: 1rem 0 1rem 0;

}
.about_h1{
  top: 100px;
  position: relative;

  /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
  opacity: 0;

}

section {
  display: flex;
  gap: 10%;
  height: 80vh;
}
.left_side {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.left_side h1 {
  margin-top: 1rem;
  font-size: 30rem;
  transition: 0.3s ease-in-out;
  position: relative;
  left: -100px;
  opacity: 0;
}
.left_side h1:hover {
  color: orangered;
}
.right_side {
  gap: 2rem;
  padding: 5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.right_h3{
  position: relative;
  top: 100px;
  opacity: 0;
}
.right_side a {
  color: white;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.links_about{
  position: relative;
  top: 100px;
  opacity: 0;
}
.text_about{
  position: relative;
  top: 100px;
  opacity: 0;
}
@media only screen and (max-width: 992px) {
  .about {
    margin: 0;
    padding: 2rem 0;
  }
  .about .about_header {
    margin: 0;
  }
  .right_side {
    padding: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .about {
    top: 2rem;
    margin: 0 0 0 0;
    padding: 2rem;
  }
  .left_side {
    display: none;
  }
  .right_side {
    width: 100%;
    padding: 0;
  }
  .left_side {
    width: 100%;
    padding: 0;
  }
  .about .about_header {
    width: 100%;
    height: 0;
    padding: 0;
    position: relative;
  }
  .about .about_header h1 {
    font-size: 1.5rem;
  }
  .right_side h3 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 430px) {
  .about {
    padding: 1rem;
    top: 1.8rem;
  }
  .rhs-2 {
    margin-top: 2rem;
  }

  .about .about_header {
    width: 100%;
    height: 10rem;
    top: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .about .about_header h1 {
    font-size: 2.5rem;
  }
  .about .about_header {
    padding: 0;
    /* margin-top: 2rem; */
    width: 80%;
  }
  .right_side {
    font-size: 1.2rem;
  }
}
