* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  cursor: none;
}
.landing {
  margin-top: 7rem;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
}
.main_text {
  width: 85vw;
  text-align: center;
  height: 10vh;
}
.main_text h1 {
  font-size: 4.5rem;
}
.video {
  width: 80%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  height: 90vh;
}
video {
  width: 80%;
  border-radius: 0.5rem 0.5rem 0 0;
}

@media only screen and (max-width: 800px) {
  .main_text {
    width: 90%;
  }
  .main_text h1 {
    font-size: 3rem;
  }
  .video {
    width: 100%;
    height: 90%;
  }
}
