* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  cursor: none;
}
.landing {
  margin-top: 7rem;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
}
.main_text {
  width: 85vw;
  text-align: center;
  height: 10vh;
}
.main_text .landing_h1 {
  font-size: 4.5rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  z-index: -1;
}
.video {
  width: 80%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  height: 90vh;
}
video {
  margin-top: 2rem;
  width: 80%;
  z-index: -1;
}

@media only screen and (min-width: 800px) {
  .main_text {
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .main_text .landing_h1 {
    font-size: 3rem;
  } */
  .video {
    width: 100%;
    height: 90%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    position: relative;
    top: -4rem;
  }
  video {
    z-index: -1;
  }
}
@media only screen and (max-width: 430px) {
  .main_text .landing_h1 {
    font-size: 2rem;
  }
  .landing {
    height: 82vh;
  }
  .main_text {
    height: 35vh;
    display: flex;
    justify-content: center;
  }
  .video {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    position: relative;
    top: -4rem;
    width: 85%;
    height: 90%;
  }
  video {
    width: 100%;
    height: 85%;
    /* padding: 1rem; */
    z-index: -1;
  }
}
@media only screen and (min-width: 431px) {
  .main_text .landing_h1 {
    font-size: 3rem;
    padding-top: 0.5rem;
  }
  .main_text {
    height: 30vh;
    margin: 1rem;
  }
  .video {
    width: 85%;
    height: 70%;
  }
  video {
    width: 100%;
    border-radius: 7px;
    margin: 0;
  }
  .landing {
    margin-top: 5rem;
  }
}
